<h2>All tasks</h2>

<%= render 'shared/navbar' %>

<form action="tasks/create" method="post">
  <div>
    <label for="description">Description: </label>
    <input type="text" name="task[description]" id="description" required>
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to toggle_completed_path(task), data: { turbo_method: :patch } do %>
        <span><%= task.completed ? 'X' : 'O' %></span>
      <% end %>
      <%= task.completed %> <%= task.description %>
    </li>
  <% end %>
</ul>
